[Unit]
Description=Kucoin Parser
After=network.target

[Service]
Type=simple

WorkingDirectory=/opt/py_bots

ExecStart=/opt/py_bots/venv/bin/python /opt/py_bots/kucoin_parser.py

Restart=on-failure
RestartSec=300

StandardOutput=journal
StandardError=journal

StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target